.container1{
	font-family: ADLaM Display;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 1000px;
	margin: auto;

}


body{
	background-color: ;
	color: cyan;
	background-color: grey;
}


